name: Mark stale issues and pull requests

on:
  schedule:
  - cron: "30 1 * * *"

jobs:
  stale:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/stale@v3
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        stale-issue-message: "This issue on Lukas-Batema's Profile README needs attention!"
        stale-pr-message: "This PR on Lukas-Batema's Profile README needs attention!"
        stale-issue-label: 'stale-issue-lukasbatema'
        stale-pr-label: 'stale-pr-lukasbatema'
